
@import url('https://fonts.cdnfonts.com/css/miama');
                
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.fitness{
    background-color: rgba(17, 17, 17, 1);
    width: 1440px;
    height: 715px;
}

.shape-style{
    font-family: 'Miama', sans-serif;
                                                
    font-weight: 200;
                                                
}
                
.fit{
    color: rgba(230, 83, 60, 1);
    font-size: 46px;
    font-weight: 700 ;
    font-style: italic;
    font-family: Inter ;
}
.display-flex{
    display: flex;
  }
  .text-gray{
    color: rgba(255, 255, 255, 1);
  }
.navbar{
     color: rgba(255, 255, 255, 1);
     display: flex;
     justify-content: space-around;


}
.nav-item{
    list-style: none;
    margin-right: 2rem;
  }
  .nav-link{
    text-decoration: none;
    font-weight: 500;
  
  }
  .navigation{
    border: .5px solid rgba(34, 34, 34, 1);
    border-radius: 30px;
  }

  .images{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .navbar{
    justify-content: space-between;
    align-items: center;
  
  }
  .navbar{
    max-width: 1060px;
    margin: 0 auto;
  }
.hm{
   background-color: rgba(230, 83, 60, 1); 
   font-size: 18px;
   font-weight: 100;
   border-radius: 20px;
   padding: 4px 8px ;
}
.btn{
    width: 224px;
    font-weight: 400;
    font-size: 18px;
    border-radius: 30px;
    padding: 16px 46px;
   background-color: black;
   border: 1px solid white;
}
.btns{
    background-color: rgba(230, 83, 60, 1);
    border: none;
}
.img1{
    width: 350px;
    height:580px ;
}
.shape{
    display: flex;
    justify-content: center;
}
.title{
    font-size: 78px;
    margin-bottom: 2px;
}
.stay{
    width: 600px;
    margin-top: 56px;
    margin-right: 88px;
}
.light-text-gray{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
}
.card1{
    background-color: rgba(255, 255, 255, 0.1);
    width: 193px;
    height: 93px;
    border-radius: 12px;
    text-align: center;
}
.card2{
    background-color: rgba(255, 255, 255, 0.1);
    width: 193px;
    height: 93px;
    border-radius: 12px;
    text-align: center;
}
.principle{
    background-color: rgba(0, 0, 0, 1);
    width: 1440px;
    margin-top: -22px;

}
.titles{

    width: 671px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 350px;
    margin-top: 20px;
}
.picture{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
.pic{
    text-align: center;
    width: 231px;
    margin-bottom: 20px;
}
.pict{
    border-radius: 90px;
    margin-bottom: 20px;

}
.run{
    width: 366px;
    height: 312px;
    border-radius: 20px;
}
.runs{
    display: flex;
    width: 1060px;
    height: 371px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(34, 34, 34, 1);
    margin-left: 190px;
    border-radius: 20px;
    margin-top: 100px;
}
.excersize{
    background-color: rgba(250, 235, 215, 0.363);
}
.div1{
   width: 443px;
   height: 290px;
   margin-right: 165px;
   align-items: start;
   text-align: start;
}
.bmi{
    text-align: start;
    width: 661px;
    margin-left: 384px;
    margin-top: 88px;

}
table, th, td {
    border:1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
  }
  .tables{
    justify-content: center;
    text-align: center;
    width: 310px;
    height: 216px;
    margin-right: 175px;
  }
 .login-form{
   
 }
 .forms{
    width: 577px;
 }
  .place{
    background-color: rgba(187, 187, 187, 1);
    height: 48px;
    width: 270px;
    border-radius: 12px;
    margin: 5px;
  }
  .places{
    background-color: rgba(187, 187, 187, 1);
    width: 560px;
    height: 48px;
    border-radius: 12px;
    margin: 5px;

  }
 .bmi-table{
    background-color: rgba(34, 34, 34, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    height: 487px;
 }
.title2{
    align-items: center;
    text-align: center;
    width: 671px;
    margin-left: 194px;
    margin-bottom: 58px;
}
.teams{
    width: 1060px;
    align-items: center;
    justify-content: center;
    margin-left: 190px;
    margin-top: 88px;
    
}
.team{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 20px;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 12px;
}
.group{
    width: 326px;
    height: 272px;
    border-radius: 18px;
}
.prime{
    margin-top: -100px;
}
.photos{
    margin: 10px;
}
.foot{
    background-color:rgba(34, 34, 34, 1) ;
    width: 1440px;
    justify-content: center;
    align-items: center;
    text-align: start;

}
.footers{
    display: flex;
    background-color:rgba(34, 34, 34, 1) ;
    width: 1440px;
    justify-content: center;
    align-items: center;
    text-align: start;
}
.fit2{
    width:443px ;
    
}
.nav1{
     width:181px ;
     margin-left: 102px;
}
.nav2{
   width: 181px;
   margin-left: 152px;
}
.last{
    width: 1060px;
    display: flex;
    margin-top: 66px;
    margin-left: 100px;
    margin-bottom: 50px;
}
hr { 
    border-bottom: .5px solid rgba(255, 255, 255, 0.1);
   width:1060px ;
   bottom: 50px;
   margin-bottom: -20px;
   left: 0;
    

}
.reserve{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 30px;
}

@media screen and (max-width: 576px) {
             .team  {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
               }
      .picture,
      .runs , 
      .display-flex ,
      .bmi-table,
      .shape,
      .foot{
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
}